<div style="font-size:16px;font-family:CPW-normal;width:100%">
	<div class="cpw_form_modal_Address cpw-fms-forms">

		<div class="row">
			<div class="column_1_title" style="width:180px;">Скопировать из профиля:</div>
			<input class="column_1_data" style="width:510px;" id="cpw_form_modal_Variants" />
		</div>
        <div class="row_splitter"></div>

	</div>
</div>