<div style="font-size:16px;font-family:CPW-normal;width:100%">
	<div class="cpw_form_modal_Address cpw-fms-forms">

		<div class="row">
			<div class="column_1_title">Улица:</div>
			<input class="column_1_data" id="cpw_form_modal_Street" />
		</div>

		<div class="row">
			<div class="column_1_title">Дом:</div>
			<input class="column_3_data" id="cpw_form_modal_HouseNumber" />

			<div class="column_3_title">Корпус:</div>
			<input class="column_3_data" id="cpw_form_modal_KorpusNumber" />

			<div class="column_3_title">Квартира:</div>
			<input class="column_3_data" id="cpw_form_modal_FlatNumber" />
		</div>

	</div>
</div>